# Images
*.png
*.jpg
*.jpeg
*.bmp

# Videos
*.mp4

# Labels ## You might wanna undo this to keep track of labelling in your clone
*.txt
!classes.txt

# Weights & DL
*.pt
*.cache

# Python venvs
.venv*

# Documentation exceptions
!.fig/*